[submodule "pysh"]
	path = pysh
	url = https://github.com/pythonkid90/pysh
[submodule "tkfancy"]
	path = tkfancy
	url = https://github.com/pythonkid90/tkfancy
[submodule "fancy-cli"]
	path = fancy-cli
	url = https://github.com/pythonkid90/fancy-cli
